h1{
    font-family: 'Black Han Sans', sans-serif;
}
h2{
    font-family: 'Dosis', sans-serif;
}
p{
    font-size: 20px;
    font-style: oblique;
}
body{
    background-image: url('image.gif');
    background-size: cover;
    color: black;
    margin: 0 auto;
    width: 900px;
}
#endResult{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}
#nextOne, #nextTwo, #nextThree, #nextFour, #endResult{
    display: none;
}
#gifsNoun, #gifsAdjective, #gifsVerb, #gifsAdverb {
    margin: 0 auto;
}
gif {
    width:200px;
	height:200px;
	display:inline-block;
	margin: 10px;
	box-sizing: border-box;
}

.gif img {
	width: 500px;
    height: 400px;
}
